@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&family=Saira:wght@700&display=swap');

:root {
 --primary-color:#033B3A;
 --secondary-color:#20C997;
 --gray:#4A4A4B;
 --bg-primary:#00F4AB0C;
 
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
 scroll-behavior: smooth;
}

body{
  font-family: 'Poppins', sans-serif;
}

h1,
h2{
  font-family: 'Saira', sans-serif;
}

ul{
 list-style: none;
}

a{
  text-decoration: none;
  
}

/*utility classes */
.container{
  max-width: 1100px ;
  margin: auto;
  padding: 0 2rem;
  background-color: 0;
}

.text-praymary {

  color: black;
}
.text-1praymary {
  color: orangered;
}

  
.btn-primay{
    background: -webkit-linear-gradient(12deg, #ff5959, #ffed5a);
    background: -moz-linear-gradient(12deg, #ff5959, #ffed5a);
    background: -o-linear-gradient(12deg, #ff5959, #ffed5a);
    background: linear-gradient(102deg, #ff5959, #ffed5a);


 color: #fff;
 padding: 8px 20px;
font-size: 14px;
border: 0;
}

   
   /*header start*/
   header {
     background-color: var(--bg-primary);
     height: 100%;
     
   }
   
   header .navbar {
     background-color: #fff;
     border-bottom: 2px solid #ccc;
     position: fixed;
     width: 100%;
     z-index: 1;
    
   }
   
   header .navbar nav {
     display: flex;
     justify-content: space-between;
     align-items: center;
     max-width: 1100px;
     margin: auto;
          padding: 1.5rem 2rem;
          display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    font-weight: 600;
    color:linear-gradient(102deg ,#ff5959,#ffed5a);

    
   }
   
   #home #logo {
     color: var(--primary-color);
     font-size: 24px;
     font-weight: 600;
   }
   
   header .navbar nav ul {
     display: flex;
     justify-content: center;
     align-items: center;
   }
   
   header .navbar nav ul a {
     margin: 0 15px;
     color: var(--primary-color);
     font-weight: 600;
     
   }
   .navbar {
  position: fixed;
  top: 0;
  width: 100%;
  /* أي أسلوب تصميم آخر تريده يمكنك إضافته هنا */
}
   
   header .header-content {
     display: grid;
     grid-template-columns:1.5fr 1fr;
     align-items: center;
     margin: auto;
     max-width: 1100px;
     background-color: #00F4AB0C;
               padding:5rem 2rem 0;
          height:100vh;

   }
   
   header .header-content img {
     max-width: 1050px;
      padding:5rem 2rem 5;
width: 100%;


     
   }
   
   #home .header-content p span {
     font-weight: 700;
     font-size: 20px;
           padding:5rem 2rem 5;
           
           
   }
   
   
   #home .header-content h1 {
     font-size: 60px;
     color: var(--primary-color);
     text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
     margin-top: 10px;
           padding:5rem 2rem 5;

   }
      #home .header-cont.titile  {
        font-size: 20px;
        color: var(primary-color);
        margin: 10px 0;
        font-weight: 500;
        
      }
         #home .header-content .social{
           margin: 1rem 0 2rem;
         }
                  #home .header-content .social a i {
                   font-size: 18px;
                   padding: 10px;
                   background-color:var(--gray);
                   margin-right: 10px;
                   
                  color:#fff;
  border-radius: 50%;
 transition: all 0.3s ease;
         background: linear-gradient(102deg ,#ff5959,#ffed5a);

  
}
                 
  #home .header-content .social a i :hover 
      {transform: scale(0.85)
      }
      

/*header end*/





* {
  box-sizing: border-box;
}

body {
  font-family: Lato, sans-serif;
  margin: 0;
  padding: 1rem;
  display: flex;
  align-items: center;

background: rgba(20, 20, 20, 1);
  
}

img {
  width: 100%;
  display: block;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  transition: transform 1000ms;
  
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  max-width: 100%;
  width: 70rem;
}

figure {
	margin: 0;
	position: relative;
	overflow: hidden;
}

figure::after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 200%;
	height: 200%;
	background: rgba(0, 0, 0, 0.5);
	transform-origin: center;
	opacity: 0;
	transform: scale(2);
	transition: opacity 300ms;
}
figcaption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  place-items: center;
  text-align: center;
  padding: 1rem;
  color: white;
  font-size: 1.2rem;
  z-index: 1;
  opacity: 0;
  transition: opacity 600ms, transform 600ms;
}

a:is(:hover, :focus) figure::after {
  opacity: 1;
}

a:is(:hover, :focus) figcaption {
  opacity: 1;
  transition: opacity 600ms;
}
@media (prefers-reduced-motion: no-preference) {
  figcaption {
    transform: translate3d(0, 2rem, 0);
  }

  figure::after {
    border-radius: 50%;
    opacity: 1;
    transform: scale(0);
    transition: transform 900ms;
  }

  a:is(:hover, :focus) figure::after {
    transform: scale(2.5);
  }

  a:is(:hover, :focus) figcaption {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: opacity 600ms 400ms, transform 600ms 400ms;
  }

  a:is(:hover, :focus) img {
    transform: scale(1.2);
  }
}

#about h2,
#skills h2, 
#services h2,
#report h2{
  text-align: center;
  font-size: 38px;
  color: black;
  font-weight: 600; 
  letter-spacing: 1px;
  padding-top: 5rem;
}


#skills hr, 
#about hr,
#services hr, 
#report hr
{
  width: 200px;
  height: 5px;
  background-color: orangered;
  border: none;
  margin: 5px auto 0;
    background: linear-gradient(102deg ,#ff5959,#ffed5a);
}
body{
  background-image: url(20240218_002313_0000.png)
  
  
}
